{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Naik{% endblock title %}</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'image/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
  </head>
  <body class="bg-gray-50 min-h-screen">
    {% include 'navbar.html' %}
    {% block content %}{% endblock content %}
  </body>
</html>
